<div class="flex-container">
  <div class="search-bar">
    <input type="text" placeholder="Rechercher" class="search-input" [(ngModel)]="searchTerm" (input)="applyFilter()"/>
  </div>
  <div class="page-content" style="padding-left: 0px; padding-bottom: 10px;">
    <button style="color: white; background-color: #314905; border-radius: 10px; width: 200px; height: 50px;" mat-raised-button class="example-icon" >
      <img src="assets/icons/export.png" class="mat-iconleft" width="20px" height="20px" alt="">

    </button>
  </div>
</div>

<table>
<thead>
    <tr>
        <th></th>
        <th>BENEFICIAIRE</th>
        <th>DATE_TRANSACTION</th>
        <th>DEVISE</th>
        <th>MODE_REGLEMENT</th>
        <th>MONTANT_TRANSACTION</th>
        <th>NOM_DONNEUR_ORDRE</th>
        <th>PRODUIT</th>
        <th>REFERENCE_TRANSACTION</th>
        <th>SOURCE_DEVISE</th>
        <th>TAUX_CHANGE</th>
        <th>TYPE_SWIFT</th>
        <th>BANQUE</th>
        <th>NATUREECONOMIQUE</th>
        <th>NATUREECONOMIQUE</th>

    </tr>
</thead>
<tbody>
    <tr *ngFor="let balance of dataSource.filteredData">

            <div class="actions" *ngIf="balance.isSelected">
            <button mat-icon-button class="example-icon-up" >
            <span><img src="assets/icons/edit.png" class="mat-iconleft" width="22px" height="24px" alt=""></span>
            </button>
          </div>

        <td>
            <input type="checkbox"  [checked]="balance.isSelected" (change)="(balance)" (change)="toggleSelection(balance)"class="select-checkbox">
        </td>

        <td>{{ balance.BENEFICIAIRE }}</td>
        <td>{{ balance.DATE_TRANSACTION }}</td>
        <td>{{ balance.DEVISE }}</td>
        <td>{{ balance.MODE_REGLEMENT }}</td>
        <td>{{ balance.MONTANT_TRANSACTION }}</td>
        <td>{{ balance.NOM_DONNEUR_ORDRE }}</td>
        <td>{{ balance.PRODUIT }}</td>
        <td>{{ balance.REFERENCE_TRANSACTION }}</td>
        <td>{{ balance.SOURCE_DEVISE }}</td>
        <td>{{ balance.TAUX_CHANGE }}</td>
        <td>{{ balance.TYPE_SWIFT }}</td>
        <td>{{ balance.BANQUE }}</td>
        <td>{{ balance.NATUREECONOMIQUE }}</td>
        <td>{{ balance.NATURE_ECONOMIQUE }}</td>
    </tr>
</tbody>
</table>